<ul class="row mixit-gallery gallery">

		<li class="mix col s12 m4 l3 item webdesign ">
			<img class="responsive-img" src="img/work1.jpg" alt="">
			<div class="work-label">
				<div class="work-label-area center">
				<p>A TE ASZTALOD</p>
				<p>website</p>
				<p>logo</p>
				</div>
			</div>
		</li>

		<li class="mix col s12 m4 l3 item webdesign print">
		<img class="responsive-img" src="img/work2.jpg" alt="">
		<div class="work-label">
				<div class="work-label-area center">
				<p>VICTORIA</p>
				<p>website</p>
				<p>logo</p>
				</div>
			</div>
		</li>

		<li class="mix col s12 m4 l3 item webdesign print"><img class="responsive-img" src="img/work3.jpg" alt="">
		<div class="work-label">
				<div class="work-label-area center">
				<p>ANZOTHERM</p>
				<p>website</p>
				<p>logo</p>
				</div>
			</div>
			</li>

		<li class="mix col s12 m4 l3 item webdesign print"><img class="responsive-img" src="img/work4.jpg" alt="">
		<div class="work-label">
				<div class="work-label-area center">
				<p>ENKA</p>
				<p>website</p>
				<p>logo</p>
				</div>
			</div>
			</li>

		<li class="mix col s12 m4 l3 item webdesign print"><img class="responsive-img" src="img/work5.jpg" alt="">
		<div class="work-label">
				<div class="work-label-area center">
				<p>BUDAPEST CLEANERS</p>
				<p>website</p>
				<p>logo</p>
				</div>
			</div>
			</li>

		<li class="mix col s12 m4 l3 item webdesign print"><img class="responsive-img" src="img/work6.jpg" alt="">
		<div class="work-label">
				<div class="work-label-area center">
				<p>PRÉMIUM FAHÁZ</p>
				<p>website</p>
				<p>logo</p>
				</div>
		</div>
		</li>

		<li class="mix col s12 m4 l3 item webdesign"><img class="responsive-img" src="img/work7.jpg" alt="">
		<div class="work-label">
				<div class="work-label-area center">
				<p>MUSZ</p>
				<p>website</p>
				</div>
			</div>
			</li>

		<li class="mix col s12 m4 l3 item webdesign"><img class="responsive-img" src="img/work8.jpg" alt="">
		<div class="work-label">
				<div class="work-label-area center">
				<p>SENSOMEDIA</p>
				<p>website</p>
				</div>
			</div>
			</li>

		<li class="mix col s12 m4 l3 item production print"><img class="responsive-img" src="img/work9.jpg" alt="">
		<div class="work-label">
				<div class="work-label-area center">
				<p>CHOCOMEL</p>
				<p>production</p>
				<p>commercial</p>
				</div>
			</div>
			</li>

		<li class="mix col s12 m4 l3 item production print"><img class="responsive-img" src="img/work10.jpg" alt=""><div class="work-label">
				<div class="work-label-area center">
				<p>HEINEKEN</p>
				<p>production</p>
				<p>commercial</p>
				</div>
			</div>
			</li>

		<li class="mix col s12 m4 l3 item production print "><img class="responsive-img" src="img/work11.jpg" alt="">
		<div class="work-label">
				<div class="work-label-area center">
				<p>LG</p>
				<p>production</p>
				<p>commercial</p>
				</div>
			</div>
			</li>

		<li class="mix col s12 m4 l3 item production print"><img class="responsive-img" src="img/work12.jpg" alt="">
		<div class="work-label">
				<div class="work-label-area center">
				<p>COUPASOUP</p>
				<p>production</p>
				<p>commercial</p>
				</div>
			</div>
			</li>

	</ul>
	<script>
		jQuery(document).ready( function() {
			$('.item').hover(function() {
	    		$(this).find('.work-label').toggleClass('active');
			});
		});
	</script>