<ul class="row mixit-gallery gallery">

		<li class="mix col s12 m3 l3 item webdesign ">
			<img class="responsive-img" src="img/work1.jpg" alt="">
			<div class="work-label">
				<div class="work-label-area center">
				<p>ANZOTHERM</p>
				<img class="responsive-img"	src="img/anzo_logo.png" alt="">
				</div>
			</div>
		</li>

		<li class="mix col s12 m3 l3 item print">
		<img class="responsive-img" src="img/work1.jpg" alt="">
		
		</li>

		<li class="mix col s12 m3 l3 item mobile"><img class="responsive-img" src="img/work1.jpg" alt=""></li>

		<li class="mix col s12 m3 l3 item production"><img class="responsive-img" src="img/work1.jpg" alt=""></li>

		<li class="mix col s12 m3 l3 item production"><img class="responsive-img" src="img/work1.jpg" alt=""></li>

		<li class="mix col s12 m3 l3 item webdesign"><img class="responsive-img" src="img/work1.jpg" alt=""></li>

		<li class="mix col s12 m3 l3 item webdesign"><img class="responsive-img" src="img/work1.jpg" alt=""></li>

		<li class="mix col s12 m3 l3 item webdesign"><img class="responsive-img" src="img/work1.jpg" alt=""></li>

		<li class="mix col s12 m3 l3 item webdesign"><img class="responsive-img" src="img/work1.jpg" alt=""></li>

		<li class="mix col s12 m3 l3 item webdesign"><img class="responsive-img" src="img/work1.jpg" alt=""></li>

		<li class="mix col s12 m3 l3 item webdesign"><img class="responsive-img" src="img/work1.jpg" alt=""></li>

		<li class="mix col s12 m3 l3 item webdesign"><img class="responsive-img" src="img/work1.jpg" alt=""></li>

	</ul>
	<script>
		jQuery(document).ready( function() {
			$('.item').hover(function() {
	    		$(this).find('.work-label').toggleClass('active');
			});
		});
	</script>