<div class="row" id="related-wrap">
	<div class="col s12 m12 l12 center white-text"><h4>RELATED WORKS</h4></div>
</div>
<ul class="row gallery">

		<li class="col s12 m3 l3 item webdesign ">
			<img class="responsive-img" src="img/work1.jpg" alt="">
			<div class="work-label">
				<div class="work-label-area center">
				<p>ANZOTHERM</p>
				<img class="responsive-img"	src="img/anzo_logo.png" alt="">
				</div>
			</div>
		</li>
		<li class="col s12 m3 l3 item webdesign ">
			<img class="responsive-img" src="img/work1.jpg" alt="">
			<div class="work-label">
				<div class="work-label-area center">
				<p>ANZOTHERM</p>
				<img class="responsive-img"	src="img/anzo_logo.png" alt="">
				</div>
			</div>
		</li>
		<li class="col s12 m3 l3 item webdesign ">
			<img class="responsive-img" src="img/work1.jpg" alt="">
			<div class="work-label">
				<div class="work-label-area center">
				<p>ANZOTHERM</p>
				<img class="responsive-img"	src="img/anzo_logo.png" alt="">
				</div>
			</div>
		</li>
		<li class="col s12 m3 l3 item webdesign ">
			<img class="responsive-img" src="img/work1.jpg" alt="">
			<div class="work-label">
				<div class="work-label-area center">
				<p>ANZOTHERM</p>
				<img class="responsive-img"	src="img/anzo_logo.png" alt="">
				</div>
			</div>
		</li>
</ul>
<script>
		jQuery(document).ready( function() {
		$('.item').hover(function() {
    		$(this).find('.work-label').toggleClass('active');
		});
	});
</script>