<div class="parallax-container valign-wrapper" id="contactus">
    <div class="section no-pad-bot">

      <div class="container">
      <div class="row">
    <div class="col s10 m10 l8 offset-s1 offset-m1 offset-l2">
    <div class="row" id="parallax-form">

    <h5 class="col s12 center grey-text text-lighten-4">WE'D LOVE TO WORK WITH YOU</h5>    

      <form id="form" class="col s12" action="" novalidate="novalidate">
        
        <div class="row">
        <div class="input-field col s12 m6 l6">
        <i class="material-icons prefix">account_circle</i>
          <input id="firstname" name="firstname" type="text" required="" aria-required="true">
          <label for="firstname">YOUR FIRST NAME</label>
        </div>

        <div class="input-field col s12 m6 l6">
        <i class="material-icons prefix">account_circle</i>
          <input id="lastname" name="lastname" type="text" required="" aria-required="true">
          <label for="lastname">YOUR LAST NAME</label>
        </div>
        </div>

        <div class="row">
        <div class="input-field col s12 m6 l6">
        <i class="material-icons prefix">phone</i>
          <input id="tel" type="tel" name="tel">
          <label for="tel">YOUR PHONE NUMBER</label>
        </div>

        <div class="input-field col s12 m6 l6">
        <i class="material-icons prefix">email</i>
          <input id="email" name="email" type="email" required="" aria-required="true" >
          <label for="email"  data-error="wrong">YOUR EMAIL ADDRESS</label>
        </div>
        </div>
      
      
        <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">YOUR MESSAGE</label>
        </div>
        </div>

        <div class="row">
        <div class="input-field col s12 center">
          <button class="send-button btn waves-effect waves-light" type="submit" name="action"><strong>SEND</strong>
          <i class="material-icons right">send</i>
          </button>
        </div>
        </div>

      </form>

  </div>
  </div>
  </div>

  </div>

    </div>
    <div class="parallax"><img src="img/contactusbg.jpg" alt="Unsplashed background img 1"></div>
  </div>

  <script>
    

  </script>
  <style>
     label {
    width: 100%;
}
.input-field label {
    font-size: 0.8rem;
    -webkit-transform: translateY(-140%);
    -moz-transform: translateY(-140%);
    -ms-transform: translateY(-140%);
    -o-transform: translateY(-140%);
    transform: translateY(-140%);
}
  </style>