<div class="row" id="development">
<div class="col s12 m12 l12">
	<div class="container">
		<div class="col s12 m12 l12 center" id="development-services-icon">
			<img src="img/developmenticon.svg" alt="">
			<h5>DEVELOPMENT</h5>
		</div>
		<div class="col s12 m8 l8 offset-m2 offset-l2" id="development-content">
			<div class="row">
				<div class="col s12 m8 l8 offset-m2 offset-l2" id="development-collapsible-wrap">
					<ul class="collapsible center" data-collapsible="accordion">
		   			 	<li>
		      				<div class="collapsible-header active">
		      					STARTUP DEVELOPMENT
		      				</div>
		     			 	<div class="collapsible-body">
		     			 		<p>If you have a unique idea to work out, we are here to make your dreams come true. We developed  dozens of startups and lead them from ideas to money making companies, with outstanding products or services.</p>
		     			 	</div>
		    			</li>
		    			<li>
		      				<div class="collapsible-header">
		      					CUSTOM WEBSITE
		      				</div>
		      				<div class="collapsible-body">
		      					<p>Sometimes a framework like Wordpress just not enough for your needs. We are eager to help you with your web based system whether is it a customized  CRM or an ERP or just smaller unique website!</p>
		      				</div>
		    			</li>
		    			<li>
		      				<div class="collapsible-header">
		      					CORPORATE WEBSITE
		      				</div>
		      				<div class="collapsible-body">
		      					<p>We know that being on the web for a company is inevitable. We can deliver everything what you need for your perfect Corporate website. Whether is it a bank or a governmental website we can deliver fast and efficiently every possible web based solution you might need!</p>
		      				</div>
		    			</li>
		    			<li>
		      				<div class="collapsible-header">
		      					E-COMERCE SOLUTION
		      				</div>
		      				<div class="collapsible-body">
		      					<p>Selling services and products on the internet has never been more popular. We provide quick solutions for smaller retailers to enterprise solutions for retailers with millions of products. You can choose from frameworks or we can deliver custom, bespoken solutions tailored to your needs!</p>
		      				</div>
		    			</li>
		    			<li>
		      				<div class="collapsible-header">
		      					MOBILE APP
		      				</div>
		      				<div class="collapsible-body">
		      					<p>For certain services it is inevitable to have an app. Our professional developers can provide cross platform or native solutions as well. We deliver ready to use solutions with super short deadlines.</p>
		      				</div>
		    			</li>
		    			<li>
		      				<div class="collapsible-header">
		      					ETHICAL HACK
		      				</div>
		      				<div class="collapsible-body">
		      					<p>Online security is one of the most significant territories, especially if you’re handling sensitive data or industrial secrets. Our ethical hacker tests your system with various penetration tests and it also offers solutions to make your system more secure or even hacker proof.</p>
		      				</div>
		    			</li>
		    			<li>
		      				<div class="collapsible-header">
		      					SOFTWARE DEVELOPMENT
		      				</div>
		      				<div class="collapsible-body">
		      					<p>We deliver software solutions from smaller software to multiple man year software. We delivered from kiosk solutions to pharmaceutical applications, to retail solutions tons of products. Ez itt nem annyira értelmes, ezt a software development részt át kellene írni kicsit.</p>
		      				</div>
		    			</li>
		    			<li>
		      				<div class="collapsible-header">
		      					SYSTEM INTEGRATION
		      				</div>
		      				<div class="collapsible-body">
		      					<p>Our team can provide various system integrations, such as networks,      enterprise application integration or business process management. What is a system integration? Let’s add some explanation.</p>
		      				</div>
		    			</li>
		  			</ul>		

				</div>
					<div class="col s12 m8 l8 offset-m2 offset-l2 center" id="iphone">
						<img class="responsive-img" src="img/iphone.png" alt="">
					</div>
			</div>
			
		</div>
	</div>
</div>
</div>
<%= render 'pages/related' %>
<script>
	  jQuery('.gallery li:lt(4)').show();
</script>