<div class="row" id="marketing">
<div class="col s12 m12 l12">
	<div class="container">
		<div class="col s12 m12 l12 center" id="marketing-services-icon">
			<img src="img/marketingicon.svg" alt="">
			<h5>MARKETING STRATEGY</h5>
		</div>
		<div class="col s12 m12 l10 offset-l1" id="marketing-content">
			<div class="row">
				<div class="col s12 m12 l10 offset-l1" id="marketing-collapsible-wrap">
					<ul class="collapsible center" data-collapsible="accordion">
		   			 	<li>
		      				<div class="collapsible-header active">
		      					SEO
		      				</div>
		     			 	<div class="collapsible-body">
		     			 		<p>Search Engine Optimisation or SEO is the simple activity of ensuring a website can be found in search engines for words and phrases relevant to what the site is offering. When your pages have higher rankings, they help more people to find you. The key to higher rankings is making sure your website has the ingredients that search engines need for their recipes. Search results matter.</p>
		     			 	</div>
		    			</li>
		    			<li>
		      				<div class="collapsible-header">
		      					EDM CAMPAIGNS
		      				</div>
		      				<div class="collapsible-body">
		      					<p>Direct email marketing is a format for email-based campaigns in which
								advertisements are sent to a targeted list of recipients. The messages look like web-based ads rather than typical email messages. A number of elements make direct email marketing different from spam emails. For example, the sender may use customer segmentation techniques to ensure that the message is appropriate for the group it's sent to, and use personalization techniques so the recipient is addressed as an individual.</p>
		      				</div>
		    			</li>
		    			<li>
		      				<div class="collapsible-header">
		      					SEM, ADWORDS
		      				</div>
		      				<div class="collapsible-body">
		      					<p>SEM is often used to describe acts associated with researching, submitting and positioning a website within search engines.  It includes things such as search engine optimization, paid listings and other search-engine related services and functions that will increase exposure and traffic to your website. SEM offers you the opportunity to pay based on clicks. Ads in a successful SEM campaign will be shown to those consumers specifically looking for your products or services, resulting in a higher conversion rate.</p>
		      				</div>
		    			</li>
		    			<li>
		      				<div class="collapsible-header">
		      					AFFILIATE CAMPAIGNS
		      				</div>
		      				<div class="collapsible-body">
		      					<p>Affiliate marketing is when other websites will promote your business. The way it works is that an affiliate is rewarded every time a visitor, customer or sale for your business is generated through an advertisement on their website. The benefit of this technique is gaining a wider place to sell your products and services, resulting in more customers and more sales.</p>
		      				</div>
		    			</li>
		    			<li>
		      				<div class="collapsible-header">
		      					STRATEGY PLAN
		      				</div>
		      				<div class="collapsible-body">
		      					<p>Strategic marketing planning involves combining customer experiences with the overall direction the company wants and needs to take in order to succeed. It includes identifying promotional opportunities, pointing out target markets, and developing  strategic position for your company. The primary benefit of a strategic marketing plan is that it puts a written guide in place for a business to follow to reach its goals and objectives.</p>
		      				</div>
		    			</li>
		    			<li>
		      				<div class="collapsible-header">
		      					SOCIAL MEDIA
		      				</div>
		      				<div class="collapsible-body">
		      					<p>Social media marketing refers to the process of gaining traffic or attention through networks, such as Facebook, Twitter, Instagram, Pinterest, LinkedIn, Google+ and YouTube. It focuses on creating content that attracts attention and encourages readers to share brand related content through their social media networks. If implemented correctly, marketing with social media can bring remarkable success to your business.</p>
		      				</div>
		    			</li>
		    			<li>
		      				<div class="collapsible-header">
		      					ONLINE MARKETING
		      				</div>
		      				<div class="collapsible-body">
		      					<p>Online marketing refers to the techniques available to your business to market, promote and advertise your products, services or brand on the World Wide Web. Online marketing can deliver benefits such as, growth in potential, reduced expenses, elegant communications, better control, improved customer service and competitive advantages.</p>
		      				</div>
		    			</li>
		    			<li>
		      				<div class="collapsible-header">
		      					CONSULTING
		      				</div>
		      				<div class="collapsible-body">
		      					<p>Our team includes marketing consultants who help develop marketing plans, strategies and actionable tasks. They participate in identifying target markets, researching the marketplace and developing solutions to your business’s success. 
								We can help you determine which marketing mediums will be most effective for your business and show you where to place your advertising for maximum exposure.</p>
		      				</div>
		    			</li>
		  			</ul>		

				</div>
			</div>
			
		</div>
	</div>
</div>
</div>
<%= render 'pages/related' %>
<script>
if (window.innerWidth <= 993){
			jQuery(".print:lt(3)").show();
		}
else{
	jQuery(".print:lt(4)").show();
}
</script>