<div class="row" id="production">
<div class="col s12 m12 l12">
	<div class="container">
		<div class="col s12 m12 l12 center" id="production-services-icon">
			<img src="img/productionicon.svg" alt="">
			<h5>PRODUCTION</h5>
		</div>
		<div class="col s12 m8 l8 offset-m2 offset-l2" id="production-content">
			<div class="row">
				<div class="col s12 m8 l8 offset-m2 offset-l2" id="production-collapsible-wrap">
					<ul class="collapsible center" data-collapsible="accordion">
		   			 	<li>
		      				<div class="collapsible-header active">
		      					3D VFX
		      				</div>
		     			 	<div class="collapsible-body">
		     			 		<p>The 3D animation and visual effects are the processes in filmmaking by which imagery is created and manipulated outside the context of a live action shot. They are capable visualizing environments which look realistic, but would be dangerous, expensive and impractical, at times impossible to capture on film.</p>
		     			 	</div>
		    			</li>
		    			<li>
		      				<div class="collapsible-header">
		      					AUDIO
		      				</div>
		      				<div class="collapsible-body">
		      					<p>Audio production is a complex process taking place in a studio incorporating artists, musicians, composers and singers to create a heartful project for the listener. It can be a feautre in an advert, a recording for a radio ad. The style and value of the production depends on the concept itself and on the identity of your brand.</p>
		      				</div>
		    			</li>
		    			<li>
		      				<div class="collapsible-header">
		      					VIDEOMAPPING
		      				</div>
		      				<div class="collapsible-body">
		      					<p>Video mapping is a projection technique that can turn almost any surface into a dynamic video display. Specialized software is used to warp and mask the projected image to make it fit perfectly on irregularly shaped screens. The beauty of such a production lies in the creativity and experience of the producer and his co-workers.</p>
		      				</div>
		    			</li>
		    			<li>
		      				<div class="collapsible-header">
		      					COMMERCIALS
		      				</div>
		      				<div class="collapsible-body">
		      					<p>Commercials consist of pre, pro and post stages, where professional cameras are used to capture the shots of the moment, in order to deliver a powerful message about your brand to the viewer through television channels, YouTube and other video platfrom based sites.</p>
		      				</div>
		    			</li>
		    			<li>
		      				<div class="collapsible-header">
		      					MUSIC VIDEO
		      				</div>
		      				<div class="collapsible-body">
		      					<p>A music video is a short film or video that is used to accompany a piece of music. They convey a story and a message that relates to the lyrics of the song itself. In most of the videoclips singers are presented as the focus of the imagery, while in some other musical clips there is an abstract idea that is conveyed throughout the shots.</p>
		      				</div>
		    			</li>
		    			<li>
		      				<div class="collapsible-header">
		      					POST PRODUCTION
		      				</div>
		      				<div class="collapsible-body">
		      					<p>Post production is the work done on a film after recording or filming has taken place. It includes various steps, such as cutting, after effects, sound recording or cleaning. Post production requires attention to details since it is the final step toward the real life project that the audience will see.</p>
		      				</div>
		    			</li>
		    			<li>
		      				<div class="collapsible-header">
		      					PHOTOGRAPHY
		      				</div>
		      				<div class="collapsible-body">
		      					<p>Photography is a simple way of grabbing one’s attention, yet it is so powerful in today’s world. Photographs allow us to share and to communicate. Photographs can grab our attention and speak directly to our emotions. In today’s world we are exposed to thousands of images through social media and advertising. Why not use your company to benefit from this technique?</p>
		      				</div>
		    			</li>
		    			<li>
		      				<div class="collapsible-header">
		      					COPYWRITING
		      				</div>
		      				<div class="collapsible-body">
		      					<p>Copywriting is the process of writing advertising promotional materials. Copywriters are responsible for the text on brochures, billboards, websites, emails, advertisements, catalogs, and more. Unlike news or editorial writing, copywriting is all about getting the reader to take action. That action might be to purchase, opt-in, or engage with a product, service, or company.</p>
		      				</div>
		    			</li>
		  			</ul>		

				</div>
			</div>
			
		</div>
	</div>
</div>
</div>
<%= render 'pages/related' %>
<script>
if (window.innerWidth <= 993){
			jQuery(".production:lt(3)").show();
		}
else{
	jQuery(".production:lt(4)").show();
}
</script>