<div class="parallax-container" id="whyus-parallax-wrap">
	<div class="section no-pad-bot  white-text" id="whyus-parallax-heading">
	<div class="row center">
						<h4 class=""><strong>WE ARE DIGITAL MINDS! WE ARE COLLECTIVE!</strong></h4>
		<h2 class=""><strong>WE ARE PROMINENT!</strong></h2>	
	</div>
	
	</div>
	<div class="parallax">
		<img src="img/whyusbg.jpg" alt="">
	</div>
</div>
<div id="whyus-wrap">
<div class="container" id="whyus-container">
	<div class="row">
		<div class="col s12 m12 l12 center white-text">
			<h4>WHY US?</h4>
			<p>Dubai has the most outstanding features in one city. It has the best Hotel - Burj Al Arab, the tallest building of the world - BurjKhalifa, the biggest artificial island - Palm Jumeirah, and the biggest mall in the Middle East. Dubai collects the best of the best of the world here in one city!</p>
			<p>
			We live in a world where lot of things happen online. We use the internet every day and it becam one of the most important daily routine of our lives. We can handle almost verything online, we can search and find solution online. The distances vanished because of this.</p>
			<p>
			Why not become the best of the online world, with our expertise! European management and the best of the Europeans in a Team with natural talent and knowledge brought to perfection with 10+ years of experience.
			</p>
			<%= link_to contact_path do %>
				<button class="quote-button btn waves-effect grey  lighten-5 black-text">
					<strong>
					REQUEST QUOTE
					</strong>
				</button>
			<% end %>
		</div>
	</div>
</div>
</div>