<div class="row" id="works">
	<div class="container">
		<div class="row center">
		<div class="col s12 m12 l12" id="works-nav">
			<ul>
				<li>
					<a class="image-filter" data-show="webdesign">
					WEBDESIGN
					</a>
				</li>
				<li>
					<a class="image-filter" data-show="mobile">
					MOBILE
					</a>
				</li>
				<li>
					<a class="image-filter" data-show="print">
					PRINT
					</a>
				</li>
				<li>
					<a class="image-filter" data-show="production">
					PRODUCTION
					</a>
				</li>
			</ul>
		</div>
		</div>
	</div>
	<div class="gallery-container">
	<ul class="row gallery">
		<li class="col s12 m3 l3 item webdesign"><img class="responsive-img" src="img/work1.jpg" alt=""></li>
		<li class="col s12 m3 l3 item print"><img class="responsive-img" src="img/work1.jpg" alt=""></li>
		<li class="col s12 m3 l3 item mobile"><img class="responsive-img" src="img/work1.jpg" alt=""></li>
		<li class="col s12 m3 l3 item webdesign"><img class="responsive-img" src="img/work1.jpg" alt=""></li>
		<li class="col s12 m3 l3 item"><img class="responsive-img" src="img/work1.jpg" alt=""></li>
		<li class="col s12 m3 l3 item"><img class="responsive-img" src="img/work1.jpg" alt=""></li>
		<li class="col s12 m3 l3 item"><img class="responsive-img" src="img/work1.jpg" alt=""></li>
		<li class="col s12 m3 l3 item"><img class="responsive-img" src="img/work1.jpg" alt=""></li>
		<li class="col s12 m3 l3 item"><img class="responsive-img" src="img/work1.jpg" alt=""></li>
		<li class="col s12 m3 l3 item"><img class="responsive-img" src="img/work1.jpg" alt=""></li>
		<li class="col s12 m3 l3 item"><img class="responsive-img" src="img/work1.jpg" alt=""></li>
		<li class="col s12 m3 l3 item"><img class="responsive-img" src="img/work1.jpg" alt=""></li>
	</ul>
	</div>
</div>