<div class="row" id="works">
	<div class="container">
		<div class="row center">
		<div class="col s12 m12 l12" id="works-nav">
			<ul id="">
				<li class="filter" data-filter=".webdesign">
					WEBDESIGN
				</li>
				<li class="filter" data-filter=".mobile">
					MOBILE
				</li>
				<li class="filter" data-filter=".print">
					PRINT
				</li>
				<li class="filter" data-filter=".production">
					PRODUCTION
				</li>
			</ul>
		</div>
		</div>
	</div>
	<div class="gallery-container">
	<%= render 'pages/gallery' %>
	</div>
</div>
<script>
	$('.mixit-gallery').mixItUp();
</script>