<div id="work5head"	class="work-head-wrap parallax-container valign-wrapper">
<div class="section no-pad-bot center">
	<div class="container">
		<div class="row flex-s">
			<div class="col s12 m8 l8 box-a">
				bal
			</div>
			<div class="col s12 m4 l4 box-b">
				jobb
			</div>
		</div>
	</div>
</div>
	<div class="parallax">
		<img src="img/workshow5heading.jpg" alt="">
	</div>
</div>

<div class="row work-colorline-wrap">
	<div class="container">
		
	</div>
</div>
	
<div class="row work-pres-wrap" id="work5pres">
	<div class="container">
		<img class="responsive-img" src="img/workshow5monitors.png" alt="">
		<img class="responsive-img" src="img/workshow5mac.png" alt="">
	</div>
</div>

<div class="row work-foot-wrap">
	<div class="container">
		
	</div>
</div>
<%= render 'pages/related' %>
<script>
if (window.innerWidth <= 993){
			jQuery(".webdesign:lt(3)").show();
		}
else{
	jQuery(".webdesign:lt(4)").show();
}
</script>