<div id="work5head"	class="work-head-wrap parallax-container valign-wrapper">
	<div class=" container section no-pad-bot center">
			<div class="row flex-s">
				<div class="col s12 m8 l8 box-a center">
					<div class="row">
						<div class="col s12 m12 l12" id="work-head-title"><strong>BUDAPEST CLEANERS</strong></div>
						<div class="col s12 m12 l12 mCustomScrollbar" id="work-head-body" data-mcs-theme="dark">
							Lorem ipsum dolor sit amet, at saperet intellegam qui, no salutandi dissentiet repudiandae nam. Ferri dicat noster eum ea, in pri summo melius salutatus, id his oportere inciderint dissentiet. Sed volumus noluisse cu, te has essent mediocritatem. Et placerat incorrupte sed, cu legere ceteros menandri mea, nec doctus option partiendo ea. Ex vim diam vocent atomorum.<br>
							<br>
							Quo ad alia esse, his partem corpora eu, ius in omnium intellegebat. Vel diam duis tibique in, ad vix porro libris delenit, quo vitae aliquam alienum cu. Putant commune has in, duo cu dicunt vulputate. Sea ei novum lobortis. Cibo explicari pro at.
							Quo ad alia esse, his partem corpora eu, ius in omnium intellegebat. Vel diam duis tibique in, ad vix porro libris delenit, quo vitae aliquam alienum cu. Putant commune has in, duo cu dicunt vulputate. Sea ei novum lobortis. Cibo explicari pro at.<br>
							<br>
							Quo ad alia esse, his partem corpora eu, ius in omnium intellegebat. Vel diam duis tibique in, ad vix porro libris delenit, quo vitae aliquam alienum cu. Putant commune has in, duo cu dicunt vulputate. Sea ei novum lobortis. Cibo explicari pro at.
							Quo ad alia esse, his partem corpora eu, ius in omnium intellegebat. Vel diam duis tibique in, ad vix porro libris delenit, quo vitae aliquam alienum cu. Putant commune has in, duo cu dicunt vulputate. Sea ei novum lobortis. Cibo explicari pro at.<br>
							<br>
							Quo ad alia esse, his partem corpora eu, ius in omnium intellegebat. Vel diam duis tibique in, ad vix porro libris delenit, quo vitae aliquam alienum cu. Putant commune has in, duo cu dicunt vulputate. Sea ei novum lobortis. Cibo explicari pro at.
							Quo ad alia esse, his partem corpora eu, ius in omnium intellegebat. Vel diam duis tibique in, ad vix porro libris delenit, quo vitae aliquam alienum cu. Putant commune has in, duo cu dicunt vulputate. Sea ei novum lobortis. Cibo explicari pro at.
						</div>
					</div>
				</div>
				<div class="col s12 m4 l4 box-b">
					<%= link_to work4_path, class: 'work-button-link left' do %>
						<button class="btn waves-effect black work-head-button">
							<i class="material-icons">chevron_left</i>
						</button>
					<% end %>
					<%= link_to work6_path, class: 'work-button-link left' do %>
						<button class="btn waves-effect black work-head-button">
							<i class="material-icons">chevron_right</i>
						</button>
					<% end %>
					<%= link_to works_path, class: 'work-button-link right' do %>
						<button class="btn waves-effect black work-head-button" >
							<i class="material-icons">close</i>
						</button>
					<% end %>
				</div>
			</div>
	</div>
	<div class="parallax">
		<img src="img/workshow5heading.jpg" alt="">
	</div>
</div>

<div class="row work-colorline-wrap">
	<div class="container">
		
	</div>
</div>
	
<div class="row work-pres-wrap" id="work5pres">
	<div class="container center">
		<img class="responsive-img" src="img/workshow5monitors.png" alt="">
		<img class="responsive-img" src="img/workshow5mac.png" alt="">
	</div>
</div>

<div class="row work-foot-wrap">
	<div class="container">
		
	</div>
</div>
<%= render 'pages/related' %>
<script>
if (window.innerWidth <= 993){
			jQuery(".webdesign:lt(3)").show();
		}
else{
	jQuery(".webdesign:lt(4)").show();
}
</script>