/* mixin for bullet proof font declaration syntax */
@mixin declare-font-face($font-family, $font-filename, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
@font-face {
font-family: '#{$font-family}';
src: url(font-path('#{$font-filename}.eot'));
src: url(font-path('#{$font-filename}.eot?#iefix')) format('embedded-opentype'),
url(font-path('#{$font-filename}.woff')) format('woff'),
url(font-path('#{$font-filename}.ttf')) format('truetype'),
url(font-path('#{$font-filename}.svg##{$font-family}')) format('svg');
font-weight: $font-weight;
font-style: $font-style;
font-stretch: $font-stretch;
}
}
@include declare-font-face('GothamNarrow-Book', 'GothamNarrow-Book', 200);
@include declare-font-face('GothamNarrow-Medium', 'GothamNarrow-Medium', 200);

$primary-black:rgb(0,0,10);
$primary-red:red;

body{
	background-color: $primary-black;
	overflow-x: hidden;
}

h1,h2,h3,h4,h5{

}
p{

}
.send-button{
	border-radius: 0;
	background-color: transparent;
	border: 1px solid white;
}
.quote-button{
	border-radius: 0;
}
/*NAVBAR*/

nav{
	line-height: inherit !important;
  background-color: rgba(0,0,0,0.9);
}
nav i.material-icons{
	font-size: 50px;
	margin-left: 0;
}
ul#tabok {
  text-align:center;
    margin:  0;
    padding: 0;
    list-style: none;
    display: table; /* [1] */
    table-layout: fixed; /* [2] */
    width: 100%; /* [3] */
}
.tabs-item {
    display: table-cell; /* [4] */
    a:hover{
		color:#fdebae;
		background-color: transparent !important;
    }
    a{
    	color: white;
    	font-size:14px;
    }
}

  .tabs-link{
    display: block;
    font-size:14px;
  }
  nav ul a{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav ul li {
    float:none;
  }
  #tabok .indicator{
    display:none;
  }
  #logo{
    max-height:75px;
    vertical-align: middle;
  }
  .navicon-wrap{
  display: inline-flex;}

  .navicon-wrap a{
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
    padding:0 0.4rem;}
    .navicon-wrap a img{
      height: 20px;
      width: auto;}
      .navicon-wrap a img:hover{
        opacity:0.8;}

  .tabs-item .dropdown-button i{
          margin-left: 0;
          font-size: 18px;
          line-height: 100px;
}
@media only screen and (min-width: 0px){
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 100px;
}
}
div.navbar-fixed{
  background-color:black;
  height:100px;

}
 .dropdown-content li a{
 	text-align:center;
 	color:white;
    font-size:14px;}

    .dropdown-content{
  		background-color:rgba(0,0,0,0.9);
	}
  .dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected{
  background-color:#161e2b;
  }

  .nav-wrapper ul li.active a{
    color: #fdebae;
    }
#nav-mobile{
	background-color: rgba(0,0,0,0.8);
	li a{
		color:white;
	}
	li.active{
		background-color: rgba(255,255,255,0.5);
	}
}
nav a.button-collapse i {
	cursor: pointer;
    height: 100px;
    line-height: 100px;
}
nav .brand-logo{

	height:100px;
	display: flex;
	justify-content: center;
  	align-items: center;
}

/*FOOTER*/
footer.page-footer{
	margin-top:0;
	background-color:$primary-black;
	padding:4em 0;
	p{
		font-size:1.25em;
	}
}
#footercontent-wrap{
	border: 1px solid white;
	border-radius:5px;
}

.footercontent-head{
	min-height: 75px !important;
	display:flex;
	justify-content: center;
  	align-items: center;
	border-bottom: 1px solid white;
	h5{
		display:inline-block;
				&::after{
		content:"";
  		display:inline-block;
		width:2rem;
		}
	}
	img{
		max-height:38px;
		display:inline-block;
	}
}
.footercontent-body div{
	&:nth-child(1){
		border-right:1px solid white;	
	}
	p{
		
	}
}
.footercontent-body{
	margin-bottom:0;
}

.footercontent-footer{
	min-height:75px !important;
	border-top: 1px solid white;
	display:flex;
	justify-content: center;
  	align-items: center;
	h4{

		&::after{
		content:"";
  		display:inline-block;
					width:1rem;
		}
	}
}

	.icons{
		display:flex;
		justify-content: center;
  		align-items: center;

		&::before{
			content:"";
  			display:inline-block;
			width:1rem;
		}
		li{
			padding: 0 0.4rem;
			height: 38px;
			display:inline-block;
			a{	
				display:inline-block;
				&:hover{
					opacity:0.8;
				}
				.contacticon{
	   				position: static;
					height:38px;
				}
			}
				
		}
	}

@media screen and (max-width: 600px) {
    #footercontent-body-left{
		border-right:none;	
	}
	.footercontent-footer{
		display:block;
		& h4::after{
		content:"";
  		display:inline-block;
		width:0;
		}	
		& .icons::before{
				content:"";
	  			display:inline-block;
				width:0;
		}
	}
}

/*CONTENT/SERVICES*/

@mixin servicesbase(
	$background-image,
	$background-repeat: no-repeat,
	$background-position: top center,
	$min-height:500px,
	$margin-bottom: 0,
	$padding-bottom:4rem,
	$padding-top:2rem){
	
	background-image: $background-image;

	background-repeat: $background-repeat;
	background-position: $background-position;
	min-height:$min-height;
	margin-bottom:$margin-bottom;
	padding-bottom:$padding-bottom;
	padding-top:$padding-top;
}

#design{
	@include servicesbase(url("/img/uxbg.jpg"));
}
#marketing{
	@include servicesbase(url("/img/marketingbg.jpg"));
}
#production{
	@include servicesbase(url("/img/productionbg.jpg"));
}
#development{
	@include servicesbase(url("/img/developmentbg.jpg"));
}

.collapse-buttons{
	i{
		display:block;
		vertical-align: middle
	}
}
/*DESIGN*/
#design-content{
	background-color: rgba(255,255,255,0.6);
}
#design-collapsible-wrap{
	margin-top: 2rem;
	margin-bottom:2rem;
	.collapsible{
		border:none;
		box-shadow: none;
		li.active .collapsible-header{
			color: $primary-black;
		}
		li .collapsible-header{
			line-height:4rem;
			font-size: 20px;
			background-color: transparent;
			transition-duration: 1s;
			border:none;
			color: #898b99;
		}
		li .collapsible-body{
			font-size: 16px;
			border:none;
			margin-bottom:2rem;
			p{
				padding:1rem 1rem 1.2rem 1rem;
			}
		}
	}
}

#design-services-icon{
	padding-top: 2rem;
	padding-bottom: 2rem;
	img{
		height:50px;
	}
}
/*MARKETING*/
#marketing-content{
	background-color: rgba(0,0,0,0.6);
}
#marketing-collapsible-wrap{
	margin-top: 2rem;
	margin-bottom:2rem;
	.collapsible{
		border:none;
		box-shadow: none;
		li.active .collapsible-header{
			color: white;
		}
		li .collapsible-header{
			line-height:4rem;
			font-size: 20px;
			background-color: transparent;
			transition-duration: 1s;
			border:none;
			color: rgba(255,255,255,0.6);
		}
		li .collapsible-body{
			font-size: 16px;
			border:none;
			color: white;
			margin-bottom:2rem;
			p{
				padding:1rem 1rem 1.2rem 1rem;
			}
		}
	}
}

#marketing-services-icon{
	padding-top: 2rem;
	padding-bottom: 2rem;
	img{
		height:50px;
	}
	h5{
		color: white;
	}
}
/*PRODUCTION*/
#production-content{
	background-color: rgba(0,0,0,0.6);
}
#production-collapsible-wrap{
	margin-top: 2rem;
	margin-bottom:2rem;
	.collapsible{
		border:none;
		box-shadow: none;
		li.active .collapsible-header{
			color: white;
		}
		li .collapsible-header{
			line-height:4rem;
			font-size: 20px;
			background-color: transparent;
			transition-duration: 1s;
			border:none;
			color: rgba(255,255,255,0.6);
		}
		li .collapsible-body{
			font-size: 16px;
			border:none;
			color: white;
			margin-bottom:2rem;
			p{
				padding:1rem 1rem 1.2rem 1rem;
			}
		}
	}
}

#production-services-icon{
	padding-top: 2rem;
	padding-bottom: 2rem;
	img{
		height:50px;
	}
	h5{
		color: white;
	}
}
/*DEVELOPMENT*/
#development{
	padding-bottom: 200px
}
#development-content{
	background-color: rgba(255,255,255,0.6);
}
#development-collapsible-wrap{
	margin-top: 2rem;
	margin-bottom:2rem;
	.collapsible{
		border:none;
		box-shadow: none;
		li.active .collapsible-header{
			color: $primary-black;
		}
		li .collapsible-header{
			line-height:4rem;
			font-size: 20px;
			background-color: transparent;
			transition-duration: 1s;
			border:none;
			color: rgba(0,0,0,0.6);
		}
		li .collapsible-body{
			font-size: 16px;
			border:none;
			margin-bottom:2rem;
			p{
				padding:1rem 1rem 1.2rem 1rem;
			}
		}
	}
}

#development-services-icon{
	padding-top: 2rem;
	padding-bottom: 2rem;
	img{
		height:50px;
	}
	h5{
		color: $primary-black;
	}
}
#iphone{
	height:100px;
	img{
		height:250px;

	}
}

/*WORKS*/
#works{
	background-color:#131927;
	.row{
		margin-bottom:0; 
	}
}
	/*gallerynav*/
#works-nav{
	ul li{
		font-size: 14px;
		cursor: pointer;
		padding: 5px 40px;
		color:white;
		display: inline-block;
		transition-duration: 0.8s;
		&:hover{
			color:#fdebae
		}
	}
	ul li.active{
		color:#fdebae;
	}
	

}
@media screen and (max-width: 600px) {
    #works-nav ul li{
		padding: 10px;
	}
}

	/*gallery container*/
ul.gallery{
	margin:0;
	li.col{
		cursor: pointer;
  		position: relative;
		padding:0;
		line-height: 0rem;
	}
}


.gallery .mix{
	display: none;
	img{
		width:100%;
	}
}

.work-label{
	opacity:0;
	transition-duration: 0.6s;
	position:absolute;
	background: rgba(0,0,0,0.8);
  	color: white;
  	left: 0;
  	top: 0;
  	height: 100%;
  	width:100%;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	border: 15px solid rgba(0,0,0,0);
    box-shadow: 0 0 0 3px transparent, inset 0 0 0 5px rgba(255,255,255,0.6);
  	p{	
  		font-size: 18px;
  		text-transform: uppercase;
  		&:first-child{
  			font-size: 30px;
  			line-height: 1;
  			margin-bottom:0;
  		}
  	}
  	img{
  		max-height:225px;
  	}

}
@media only screen and (min-width: 601px){
	.work-label p {
    	font-size:12px;
    	&:first-child{
  			font-size:18px;
  		}
	}
}
@media only screen and (min-width: 993px){
	.work-label p {
    	font-size:16px;
    	&:first-child{
  			font-size:22px;
  		}
	}
}
@media only screen and (min-width: 1500px){
	.work-label p {
    	font-size:18px;
    	&:first-child{
  			font-size:30px;
  		}
	}
}
.work-label.active{
	opacity:1;
}

/*RELATED*/
#related-wrap{
	margin-bottom: 0;
}
/*WHYUS*/
#whyus-parallax-wrap{
	height:650px;
}
@media only screen and (max-width: 600px){
	#whyus-parallax-wrap {
		height:450px;
	}
}
@media only screen and (min-width: 601px) and (max-width: 1366px){
	#whyus-parallax-wrap {
		height:550px;
	}
}
#whyus-wrap{
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-color: #0e121d;
	-webkit-box-shadow: 0px -50px 100px 100px rgba(14,18,30,0.3), inset 0px -70px 70px -40px rgba(0,0,0,0.8);
	-moz-box-shadow: 0px -50px 100px 100px rgba(14,18,30,0.3), inset 0px -70px 70px -40px rgba(0,0,0,0.8);
	box-shadow: 0px -50px 100px 100px rgba(14,18,30,0.3),inset 0px -70px 70px -40px rgba(0,0,0,0.8);
	/*
	-webkit-box-shadow: inset 0px -77px 69px -41px rgba(0,0,0,0.9);
	-moz-box-shadow: inset 0px -77px 69px -41px rgba(0,0,0,0.9);
	box-shadow: inset 0px -77px 69px -41px rgba(0,0,0,0.9);
	*/
}
#whyus-parallax-heading{
	width:100%;
	height:100%;
	position: relative;
	.row {
		margin-bottom: 0;
		width:100%;
		position: absolute;
		bottom:10%;
		h2,h4{
			margin:0;
		}
	}
}
#whyus-container{
	.row .col{
		h4{
			margin-top: 0;
			margin-bottom:34px;
		}
		p{
			margin-bottom: 34px;
			font-size: 16px;
		}
		button{
			margin: 17px 0;
		}
	}
}
/*HOME*/
#mobile-parallax{
	.section{
		margin-top: -50px;
		padding-top: 0;
		width:100%;
		.row .col{
			width:100%;
		}
	}
}
@media only screen and (max-width: 600px){
	#opening-logo{
		width:80%;
	}
}
@media only screen and (max-width: 800px) and (orientation: landscape){
	#mobile-parallax .section{
		margin-top: 0;
	}
	#opening-logo{
		width:50%;
	}
}
#video{
	padding:0;
	overflow: hidden;
}
#video-wrap{
	margin-bottom:0;	
}
video {
  width: 100%    !important;
  height: 100%   !important;
  object-fit: cover;
}
#home-works-head{
	margin-bottom:0;
	.col{
		background-color: #1b1e27;
	}
}

#boards{
	margin-bottom:0;
	.col{
		min-height:500px;
		display: flex;
		justify-content: center;
  		align-items: center;
	}
	.col:nth-child(1){
		background-color:$primary-black;
	}
	.col:nth-child(2){
		background-image: url('/img/board1.jpg');

	}
	.col:nth-child(3){
		background-image: url('/img/board2.jpg');
	}
	.col:nth-child(4){
		img{
			margin-top:-80px;
		}
	}
}

/*CONTACT*/

#contactus{
	height: inherit;
	min-height:600px;
	.section{
		width: 100%;
		
	}
}
#parallax-form h5:after{
			content:"";
			display: block;
			height:2rem;

		}
.material-icons{
	color:white;
}
.input-field{
	label{
		text-align:center;
	}
}
input, select, textarea{
    color: #fff;
}

textarea:focus, input:focus {
    color: #fff;
}