<footer class="page-footer" >
<div class="container" >
  <div class="row" id="footercontent-wrap" >
    <div class="col s12 m12 l12 center white-text footercontent-head"><h4>CONTACT US</h4></div>
    <div class="col s12 m12 l12">
    <div class="row footercontent-body">
    <div class="col s12 m6 l6 center white-text" id="footercontent-body-left">
      <p class="">Budapest, 1138,Révész utca 27. 4. Emelet <br>
         River Loft Irodaház <br>
         + 1 234 5678 <br>
         info@prominentmediagroup.com</p>
    </div>
    <div class="col s12 m6 l6 center white-text" id="footercontent-body-right">
      <p class="">United Arab Emirates, Dubai<br>
         reca.simon@pmg.com<br>
         +9771563976763</p>
    </div>
    </div>
    </div>
    <div class="col s12 m12 l12 white-text footercontent-footer">
        <h4 class="center">FOLLOW US</h4>
        <ul class="icons center">
          <li><a href=""><img class="contacticon" src="img/facebookikon.svg" alt=""></a></li>
          <li><a href=""><img class="contacticon" src="img/printerestikon.svg" alt=""></a></li>
          <li><a href=""><img class="contacticon" src="img/youtubeikon.svg" alt=""></a></li>
        </ul>
    </div>

    </div>
  </div>
</div>
</footer>