<footer class="page-footer" >
<div class="container" >
  <div class="row" id="footercontent-wrap" >
    <div class="col s12 m12 l12 center white-text footercontent-head"><h4>CONTACT US</h4><img src="img/mail_icon.svg" alt=""></div>
    <div class="col s12 m12 l12">
    <div class="row footercontent-body">
    <div class="col s12 m6 l6 center white-text" id="footercontent-body-left">
      <p class="">Budapest, 1138,Révész utca 27. 4. Emelet <br>
         River Loft Irodaház <br>
         + 1 234 5678 <br>
         <a class="white-text" href="mailto:info@prominentmediagroup.com">info@prominentmediagroup.com</a></p>
    </div>
    <div class="col s12 m6 l6 center white-text" id="footercontent-body-right">
      <p class=""> UAE, Dubai, Jumeirah Lakes Towers.<br>
      00971563976763
         <br>
         <a class="white-text" href="mailto:reca.simon@prominentmedia.ae">reca.simon@prominentmedia.ae</a>
         </p>
    </div>
    </div>
    </div>
    <div class="col s12 m12 l12 white-text footercontent-footer">
        <h4 class="center">FOLLOW US</h4>
        <ul class="icons center">
          <li><a href=""><img class="contacticon" src="img/facebookikon.svg" alt=""></a></li>
          <li><a href=""><img class="contacticon" src="img/printerestikon.svg" alt=""></a></li>
          <li><a href=""><img class="contacticon" src="img/youtubeikon.svg" alt=""></a></li>
        </ul>
    </div>

    </div>
  </div>
</div>
</footer>